<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Zephium uses the camera only when you allow a website to access it.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Zephium uses the microphone only when you allow a website to access it.</string>
  <key>NSDownloadsFolderUsageDescription</key>
  <string>Zephium saves the files you download to your Downloads folder.</string>
  <key>NSDesktopFolderUsageDescription</key>
  <string>Zephium saves downloads to your Desktop when you choose it as the download folder.</string>
  <key>NSDocumentsFolderUsageDescription</key>
  <string>Zephium saves downloads to your Documents folder when you choose it as the download folder.</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>Web site URL</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>http</string>
        <string>https</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
